* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.logo > img {
  height: 60px;
  width: 60px;
}

.logo > span {
  font-size: 20px;
  font-weight: 600;
  font-family: cursive;
  color: saddlebrown;
  margin-top: 15px;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}

#nav-bar a {
  text-decoration-line: none;
  color: saddlebrown;
  font-size: large;
  font-family: cursive;
  font-weight: bold;
  padding: 17px 50px;
  margin: 0;
  transition: 0.6s ease;
}

#nav-bar a:hover {
  background-color: saddlebrown;
  color: white;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
}

#form {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 30px;
  margin: 40px;
  border: 5px solid saddlebrown;
  border-radius: 30px;
  margin-right: 170px;
  color: saddlebrown;
}

#form input {
  border: none;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid saddlebrown;
}

#submit {
  background-color: saddlebrown;
  color: white;
  cursor: pointer;
  transition: 0.6s ease;
}

#submit:hover {
  background-color: white;
  color: saddlebrown;
  border: 1px solid saddlebrown;
}

.bg {
  width: 70%;
  height: 95vh;
  margin: 0;
  padding: 0;
}

.bg img {
  width: 95vh;
  height: 95vh;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(media/homeBG.jpg);
  background-position: center;
  background-size: cover;
  height: 96vh;
}

.box {
  background-color: rgba(255, 255, 255, 0.77);
  color: black;
  height: 96vh;
  width: 100%;
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  font-size: 50px;
  font-family: cursive;
  font-weight: bolder;
  margin: auto;
  border-bottom: 3px double black;
  color: black;
}

.box div {
  margin: 30px;
  display: flex;
  flex-direction: column;
  font-family: cursive;
}

.box div h1 {
  margin: 10px;
  color: black;
}

.box div p {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#video {
  width: 70%;
  height: auto;
  margin: auto;
  border-radius: 50px;
}

#products {
  font-size: 40px;
  font-weight: 600;
  font-family: cursive;
  margin: 20px;
  padding: 80px;
  text-align: center;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 21%;
  padding: 10px;
  border: 1px solid saddlebrown;
  border-radius: 10px;
}

.card img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.card p {
  width: 90%;
  font-size: 16px;
  font-family: cursive;
  margin: 15px;
}

.card button {
  background-color: saddlebrown;
  padding: 8px;
  border-radius: 18px;
  border: 1px solid saddlebrown;
  color: white;
  cursor: pointer;
  width: 100px;
}

.card button:hover {
  background-color: white;
  color: saddlebrown;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 80px;
  width: 100%;
  margin: 0;
  margin-top: 300px;
  background-color: black;
  color: white;
  font-family: cursive;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 30%;
}

.location h1,
.location h3,
.location p {
  margin: 10px;
  text-align: center;
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 30%;
  padding: 0;
}

.connect > #form {
  padding: 0;
  margin: 30px;
  border: none;
  width: 70%;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.social img {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 100px;
}